header {
    text-align: center;
    color: white;
    background: linear-gradient( 
        rgb(91, 99, 255) 0%, 
        rgb(30, 0, 112) 100%
    );;
    font-size: 32px;
    padding: 10px 0 20px 0;
    margin-bottom: 10px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

input {
    padding: 10px;
    font-size: 18px;
}

#container {
    display: flex;
    height: 500px;
}

#searchWrap {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 13px;
    margin: 5px;
}

button {
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#searchHistory {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.historyBtn {
    background-color: rgb(185, 185, 185);
    padding: 8px;
}

#searchBtn {
    background-color: rgb(0, 162, 255);
    padding: 8px;
    color: white;
}

#weatherInfo {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px;
}

#current {
    border: 1px solid black;
    height: 45%;
    margin-bottom: 20px;
    padding: 0 0 20px 5px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#current img,
.forecastDay img
 {
    width: 32px;
}

#current p,
.forecastDay p {
    font-size: 16px;
}

#forecastWrap {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.forecastDay {
    background-color: rgb(38, 39, 56);
    color: white;
    padding: 10px 41px 20px 5px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#uvNumber {
    padding: 4px 15px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
}